@import "tailwindcss";

@keyframes fadeSlide {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.animate-fadeSlide {
    animation-name: fadeSlide;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}